node_modules
.DS_Store
.env
.env.*
!.env.example
.next
PKDCompassNative/DerivedData
PKDCompassNative/.DerivedData
PKDCompassNative/PKDCompassNative.xcodeproj/project.xcworkspace/xcuserdata
PKDCompassNative/PKDCompassNative.xcodeproj/xcuserdata
PKDCompassNative/*.xcuserdatad
*.xcuserstate
*.xcworkspace/xcuserdata
*.xcodeproj/xcuserdata
tsconfig.tsbuildinfo
test-out.txt
test-output.txt
*.db
*.db-journal
.pnpm-debug.log*
.npm-debug.log*
.yarn-debug.log*
build
dist
.DS_Store
